.github/**
.vscode/**
.vscode-test/**
RELEASING.md
src/**
docs/**
images/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
**/.vscode-test.*
node_modules/**
!node_modules/7zip-bin/**
